<div class="container">
  <div class="form-group was-validated row">
    <textarea class="form-control col" rows="10" placeholder="Enter cipher text here..."
              [(ngModel)]="cryptogram.cipherText"
              (blur)="calculateNgrams()" required></textarea>
    <textarea class="form-control col" rows="10" placeholder="Plain text will be here..." [(ngModel)]="plainText"
              disabled></textarea>
  </div>
  <div class="form-group row">
    <input type="text" class="form-control col-3" placeholder="Enter key here" [(ngModel)]="possibleKey" required/>
    <a class="btn btn-primary col-1" (click)="decrypt()" href="#">Solve</a>
  </div>
  <div class="container">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="font-weight-bold">Trigrams:</span>
        </mat-panel-title>
        <mat-panel-description>
          Click on the trigram assuming corresponds to 'THE'
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container">
        <div class="row align-items-start">
          <div class="col-4" *ngFor="let item of getTrigrams()">
            <a class="col-4 font-weight-bold" href="#" (click)="generateKey(item)">{{item.text}}({{item.offsets.length}})</a>
            <span class="col-4">{{item.gcd}}</span>
            <span class="col-4">{{item.offsets}}</span>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="font-weight-bold">Bigrams:</span>
        </mat-panel-title>
        <mat-panel-description>
          Click on a bigram to find key
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container">
        <div class="row align-items-start">
          <div class="col-6" *ngFor="let item of getBigrams()">
            <a class="col-4 font-weight-bold" (click)="generateKey(item)" href="#">{{item.text}}({{item.offsets.length}})</a>
            <span class="col-4">{{item.gcd}}</span>
            <span class="col-4">{{item.offsets}}</span>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</div>


